.serviceLayoutHero  {
    background-image: url('../../../public/bg-gradiant.jpg');
    background-size: 100vw 1500px;
    background-repeat: no-repeat;
}
.serviceKeyFeatures {
    display: flex;
    flex-direction: row;
}
.serviceKeyFeatures:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}
.planPartService {
    background-image: url('../../../public/low_light_theme.png');
    background-size: auto 700px;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .serviceKeyFeatures {
        display: flex;
        flex-direction: column !important;
    }
}