.allItemsCircle {
  background-image: url("../../../public/tech-bg.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh;
  position: relative;
  top: -50px;
}
.ourExpertiseAbout {
  background-image: url("/public/card_overlay.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px 0;
}

@media (max-width: 768px) {
  .allItemsCircle {
    background-size: 200% auto;
    min-height: 70vh;
  }
}
